# Environment files
.env
backend/.env
frontend/.env
/backend/build
/backend/node_modules
/backend/config

# Node modules
node_modules/

# Desktop agent (contains ML model)
desktop_app/
other/

# Build folders
dist/
build/

# OS junk
.DS_Store
Thumbs.db